@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit , sans-serif;
  /* @apply transition-colors duration-300; */
}

body{
  background-color: #f7f7f7;
}